<!--Start login register area-->
<section class="login-register-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form">
                    <div class="sec-title">
                        <h1>Войти сейчас</h1>
                        <span class="border"></span>
                    </div>
                    <div class="row">
                         {{#if loginError}}
                            <div class="alert alert-danger" role="alert">
                                <p>{{loginError}}</p>
                            </div>
                        {{else}}
                        <form action="/auth/login" method="POST">
                            <div class="col-md-12">
                                <div class="input-field">
                                    <input type="email" name="email" placeholder="Введите Email *" required>
                                    <div class="icon-holder">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>    
                            </div>
                            <div class="col-md-12">
                                <div class="input-field">
                                    <input type="password" name="password" placeholder="Введите пароль" required>
                                    <div class="icon-holder">
                                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                    </div>
                                </div>    
                            </div>
                            <input type="hidden" name="_csrf" value="{{csrf}}">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <button class="thm-btn bgclr-1" type="submit">Войти</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <a class="forgot-password" href="/auth/reset">Забыли пароль?</a>
                                    </div>
                                </div>   
                            </div> 
                        </form>
                        {{/if}}    
                    </div>
                </div>    
            </div>        
        </div>
    </div>
</section>      
<!--End login register area-->