<!--Start login register area-->
<section class="login-register-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form">
                    <div class="sec-title">
                        <h1>Задать новый пароль</h1>
                        <span class="border"></span>
                    </div>
                    <div class="row">
                        {{#if error}}
                            <div class="alert alert-danger" role="alert">
                                <p>{{error}}</p>
                            </div>
                        {{/if}}
                        <form action="/auth/password" method="POST">
                            <div class="col-md-12">
                                <div class="input-field">
                                    <input type="password" name="password" placeholder="Введите новый пароль *" required>
                                    <div class="icon-holder">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>    
                            </div>
                           
                            <input type="hidden" name="_csrf" value="{{csrf}}">
                            <input type="hidden" name="userId" value="{{userId}}">
                            <input type="hidden" name="token" value="{{token}}">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <button class="thm-btn bgclr-1" type="submit">Обновить пароль</button>
                                    </div>
                                </div>   
                            </div> 
                        </form>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>      
<!--End login register area-->