 <!--Start Preloader -->
    {{!-- <div class="preloader"></div> --}}
    <!--End Preloader --> 

    <!--Start header area-->

    <!--Start top bar area-->
    <section class="top-bar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <!-- <div class="top-left">
                        <p><span class="flaticon-phone"></span>24 hours emergency & ambulance Service: +321 789 01 2345</p> 
                    </div> -->
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <div class="top-right clearfix">
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/endocrinology.kg/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/endocrinology.kg/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End top bar area-->  

    <!--Start header area--> 
    <section class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="logo">
                        <a href="/">
                            <img src="/images/resources/logo.png" alt="Awesome Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="icon-holder">
                                    <span class="flaticon-technology"></span>
                                </div>
                                <div class="text-holder">
                                    <h4>Позвонить</h4>
                                    <span>+996-502-30-11-11</span>    
                                </div>
                            </li>
                            <li>
                                <div class="icon-holder">
                                    <span class="flaticon-pin"></span>
                                </div>
                                <div class="text-holder">
                                    <h4>г.Бишкек</h4>
                                    <span>ул.Суеркулова 1/4</span>    
                                </div>
                            </li>
                            <li>
                                <div class="icon-holder">
                                    <span class="flaticon-agenda"></span>
                                </div>
                                <div class="text-holder">
                                    <h4>Пн - Пт</h4>
                                    <span>08.30 - 17.00</span>    
                                </div>
                            </li>        
                        </ul>
                        <div class="search-button pull-right">
                                {{#if isAuth}}
                                    <button class="btn btn-primary"><a href="/admin/addpost">Добавить статью</a></button>
                                    <button class="btn btn-primary"><a href="/admin">Админ панель</a></button>    
                                    <button type="button" class="btn btn-warning"><a href="/auth/logout">Выйти</a></button>
                                {{else}}
                                    <button class="btn btn-primary"><a href="/auth/login">Войти</a></button>
                                {{/if}}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <!--End header area-->  

    <!--Start header-search  area-->
    <section class="header-search">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="search-form pull-right">
                        <form action="#">
                            <div class="search">
                                <input type="search" name="search" value="" placeholder="Search">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End header-search  area-->        

    <!--Start mainmenu area-->
    <section class="mainmenu-area stricky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--Start mainmenu-->
                    <nav class="main-menu pull-left">
                        <div class="navbar-header">   	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="/">Главная</a></li>
                                <li class="dropdown"><a href="/about">Обо мне</a>                                </li>
                                <li class="dropdown"><a href="/services">Услуги</a>
                                    <ul>
                                        <li><a href="/consultation">Консультация</a></li>
                                        <li><a href="/treatment">Лечение эндокринологических нарушений и заболеваний</a></li>
                                        <li><a href="/schooldiabetes">Школа диабета </a></li>
                                        <li><a href="/thyroidultrasound">УЗИ щитовидной железы </a></li>
                                        <li><a href="/biopsy">Биопсия узлов щитовидной железы </a></li>
                                        <li><a href="/pompa">Установка инсулиновой помпы</a></li>
                                        <li><a href="/monitoring">Система непрерывного мониторинга глюкозы крови</a></li>
                                        {{!-- <li><a href="laborotory.html">Laborotory</a></li> --}}
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="/posts">Статьи</a></li>
                                {{!-- <li><a href="contact.html">Магазин</a></li> --}}
                                <li class="dropdown"><a href="#">Для врачей</a>
                                    <ul>
                                        <li><a href="/protocols">Клинические протоколы и руководства</a>
                                        </li>
                                        <li><a href="#">Книги и учебники по эндокринологии</a></li>
                                        <li><a href="#">Видео материалы</a></li>
                                        <li><a href="#">Презентации</a></li>
                                        <li><a href="#">Вебинары</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Для пациентов</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!--End mainmenu-->
                    <!--Start mainmenu right box-->
                    <div class="mainmenu-right-box pull-right">
                        {{!-- <div class="cart_select">
                            <button><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>(0)</span></button>
                        </div> --}}
                        <div class="consultation-button">
                            <a href="/#form">Запись на консультацию</a> 
                        </div>
                    </div>
                    <!--End mainmenu right box-->    
                </div>
            </div>
        </div>
    </section>
    <!--End mainmenu area-->
