<div class="container">
    <h1>Добавить статью</h1>
    <hr>
    {{#if error}}
      <div class="alert alert-danger" role="alert">
          <p>{{error}}</p>
      </div>
    {{/if}}
    <form action="/admin/addpost" method="post" enctype="multipart/form-data">
        <div class="form-group col-auto">
          <label for="title">Название</label>
          <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" required value="{{data.title}}">
          <small id="titleHelp" class="form-text text-muted">Добавление название статьи.</small>
        </div>
        <div class="form-group">
          <input type="text" name="description" class="form-control" id="description" value="{{data.description}}">
        </div>
        <div class="form-group form-check">
          <label for="img">Картинка</label>
          <input type="file" name="img" id="img">
          <div class="preview-images"></div>
          <input type="hidden" name="_csrf" value="{{csrf}}">
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <hr>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>