<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>ПАНЕЛЬ ДЛЯ АДМИНИСТРАТОРА</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">ПАНЕЛЬ ДЛЯ АДМИНИСТРАТОРА</li>
                        </ul>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start team area-->
<section class="team-area doctor doctor-page-area">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-tabs tab-menu">
                    <li class="active"><a href="#applications" data-toggle="tab">Заявки</a></li>
                    <li ><a href="#posts" data-toggle="tab">Статьи</a></li>
                    {{!-- <li><a href="#neurologist" data-toggle="tab">Neurologist</a></li>
                    <li><a href="#ophthalmologist" data-toggle="tab">Ophthalmologist</a></li>
                    <li><a href="#paediatrician" data-toggle="tab">Paediatrician</a></li>
                    <li><a href="#practitioner" data-toggle="tab">General Practitioner</a></li> --}}
                </ul>   
            </div>
            <div class="col-md-10">
                <div class="tab-content">
                    <!--Start single tab pane-->
                    <div class="tab-pane" id="posts">
                        <div class="row">
                            {{#if posts.length}}
                            {{#each posts}}
                            <!--Start single item-->
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="single-team-member">
                                    <div class="overlay-style">
                                        <div class="box">
                                            <div class="content">
                                                <div class="top">
                                                    {{ title }}
                                                </div>
                                                <span class="border"></span>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    <a class="btn btn-success" href="/admin/post/{{ id }}/edit?allow=true"><h3>Редактировать</h3></a>
                                    <a class="btn btn-default" href="/admin/post/{{ id }}/"><h3>Посмотреть</h3></a>
                                </div>
                            </div>
                            <!--End single item-->
                            {{/each}}
                            {{else}}
                            Статей пока нет
                            {{/if}}
                        </div>
                    </div>
                    <!--End single tab pane-->
                    <!--Start single tab pane-->
                    <div class="tab-pane active" id="applications">
                        <div class="row">
                            {{#if applications.length}}
                            <!--Start single item-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="single-team-member">
                                    <div class="table-responsive text-center">    
                                        <div class="grid">
                                            <span>
                                                <strong>ФИО</strong>
                                            </span>
                                            <span>
                                                <strong>Телефон</strong>
                                            </span>
                                            <span>
                                                <strong>Вид услуги</strong>
                                            </span>
                                            <span>
                                                <strong>Вид консультации</strong>
                                            </span>
                                            <span>
                                                <strong>Тип диабета</strong>
                                            </span>
                                            <span>
                                                <strong>Дата</strong>
                                            </span>
                                            <span>
                                                <strong>Вопрос к врачу</strong>
                                            </span>
                                             {{#each applications}}
                                                    <span>{{fullname}}</span>
                                                    <span>{{phone}}</span>
                                                    <span>{{service}}</span>
                                                    <span>{{consultation}}</span>
                                                    <span>{{schooldiabetes}}</span>
                                                    <span>{{date}}</span>
                                                    <span>{{question}}</span>
                                                {{/each}}
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <!--End single item-->
                            {{else}}
                            Заявок пока нет
                            {{/if}}
                        </div>
                    </div>
                    <!--End single tab pane-->
                </div>
            </div>
        </div>
    </div>
</section> 
<!--End team area-->