<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Консультация</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Консультация</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start departments single area-->
<section id="departments-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="images/department/consultation.jpg" alt="Awesome Image" width="50%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">  
                <div class="tab-box">
                    <div class="tab-content">
                        <!--Start single tab pane-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="img-box">
                                        <h4>Консультация врача-эндокринолога.</h4>
                                        <p>Сахарный диабет, гипотиреоз и гипертиреоз, диффузный и узловой зоб – эти заболевания уже давно у всех на слуху, но отнюдь не всегда их лечение начинается своевременно. И этому есть несколько причин:</p>
                                    </div>    
                                </div>
                                <div class="col-md-12">
                                    <div class="pricing-box">
                                        <div class="single-box">
                                            <h3>Причины</h3> 
                                            <ul>
                                                <li>1. Поздняя диагностика и обращение к врачу за консультацией</li>
                                                <li>2. Отсутствие специалистов или большие очереди в поликлиниках</li>
                                                <li>3. Дороговизна анализов и обследований</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p>На сегодняшний день большинство эндокринологических заболеваний диагностируются после 
                                        появления выраженных симптомов, приносящих неудобство пациентам или уже после развития осложнений.
                                        Так, когда же вам необходима консультация врача-эндокринолога?</p>
                                    <div class="pricing-box">
                                        <div class="single-box">
                                            <h3>Симптомы</h3>
                                            <ul>
                                                <li>&#9989;При нарушении менструального цикла</li>
                                                <li>&#9989;При наличии лишнего веса и ожирения</li>
                                                <li>&#9989;При ощущении кома в горле</li>
                                                <li>&#9989;При повышенном оволосении </li>
                                                <li>&#9989;Если беспокоят жажда,частое мочеиспускание,похудение , повышенный аппетит</li>
                                                <li>&#9989;Для подбора метода контрацепции</li>
                                                <li>&#9989;При мужской или женской бесплодии</li>
                                                <li>&#9989;При эректильной дисфункции,  отсутствии сексуального интереса или влечения, также при уменьшении спонтанных эрекций в ночное и утреннее время</li>
                                                <li>&#9989;При увеличении и болезненности молочных желёз у мужчин</li>
                                                <li>&#9989;При снижении мотивации, инициативности, энергии, жизненной активности у мужчин</li>
                                                <li>&#9989;При плохой концентрации, проблем с памятью, повышенной сонливости, снижении работоспособности, постоянной усталости, быстрой утомляемости,снижении концентрации и внимания</li>
                                                <li>&#9989;При перепадов настроения,плаксивости, раздражительности</li>
                                                <li>&#9989;При перепадов настроения,плаксивости, раздражительности</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <br>
                            <h3>Уважаемые читатели, при наличии этих симптомов, можете записаться на консультацию к врачу-эндокринологу! <br> Берегите себя, своё здоровье и посещайте врача ежегодно!</h3>
                            <hr>
                        </div>
                        <!--End single tab pane-->
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</section>
<!--End Medical Departments area--> 
