<!--Start rev slider wrapper-->     
    <section class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider"  data-version="5.0">
            <ul>
                <li data-transition="rs-20">
                    <img src="images/slides/1s.jpg"  alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    
                    <div class="tp-caption  tp-resizeme" 
                        data-x="left" data-hoffset="0" 
                        data-y="top" data-voffset="220" 
                        data-transform_idle="o:1;"         
                        data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                        data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                        data-splitin="none" 
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-start="1500">
                        {{!-- <div class="slide-content-box mar-lft">
                            <h1>Профессиональная диагностика<br> и лечение <span>сложных заболеваний.</span></h1>
                            <p>и полезные рекомендации <br> от Бегимай Джуматаевой.</p>
                            <div class="button">
                                <a class="#" href="#">Читать больше</a>
                                <a class="btn-style-two" href="#">Статьи</a>           
                            </div>
                        </div> --}}
                    </div>
                
                </li>
                <li data-transition="fade">
                    <img src="images/slides/2s.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" >

                    <div class="tp-caption  tp-resizeme" 
                        data-x="right" data-hoffset="0" 
                        data-y="top" data-voffset="220" 
                        data-transform_idle="o:1;"         
                        data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                        data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                        data-splitin="none" 
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-start="1500">
                        {{!-- <div class="slide-content-box">
                            <h1>Профессиональная диагностика<br> и лечение <span>сложных заболеваний.</span></h1>
                            <p>и полезные рекомендации <br> от Бегимай Джуматаевой.</p>
                            <div class="button">
                                <a class="#" href="#">Читать больше</a>
                                <a class="btn-style-two" href="#">Статьи</a>           
                            </div>  
                        </div> --}}
                    </div>
                    
                </li>
                <li data-transition="fade">
                    <img src="images/slides/3s.jpg"  alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    
                    <div class="tp-caption  tp-resizeme" 
                        data-x="left" data-hoffset="0" 
                        data-y="top" data-voffset="220" 
                        data-transform_idle="o:1;"         
                        data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                        data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                        data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                        data-splitin="none" 
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-start="1500">
                        {{!-- <div class="slide-content-box mar-lft">
                            <h1>Профессиональная диагностика<br> и лечение <span>сложных заболеваний.</span></h1>
                            <p>и полезные рекомендации <br> от Бегимай Джуматаевой.</p>
                            <div class="button">
                                <a class="#" href="#">Читать больше</a>
                                <a class="btn-style-two" href="#">Статьи</a>           
                            </div>  
                        </div> --}}
                    </div>

                </li>
            </ul>
        </div>
    </section>
    <!--End rev slider wrapper-->

    <!--Start call to action area-->
    <section class="callto-action-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content" id="form"> 
                        <div class="title-box text-center">
                            <span class="flaticon-calendar"></span>
                            <h2>Записаться на консультацию</h2>    
                        </div>
                        <div class="form-holder clearfix">
                            <form class="needs-validation" action="/addapplication" method="post" id="appointment" class="clearfix" 
                                name="appointment-form">
                                <div class="single-box mar-right-30">    
                                    <div class="input-box">
                                        <input type="text" name="fullname" value="" placeholder="Ваше ФИО" required="">
                                    </div>
                                    <div class="input-box">
                                        <input type="text" name="phone" value="" placeholder="Телефон" required="">
                                    </div>
                                    <div class="input-box">
                                        <select class="selectmenu" id="viewSelector" name="service" required>
                                            <option value="0" selected="selected">Вид услуги</option>
                                            <option value="consultation-button">Консультация</option>
                                            <option value="schooldiabetes-button">Школа диабета</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <select class="selectmenu" id="consultation" name="consultation">
                                            <option value="" selected="selected">Вид консультации</option>
                                            <option value="Первичная">Первичная</option>
                                            <option value="Вторичная ( и более)">Вторичная ( и более)</option>
                                        </select> 
                                    </div>
                                    <div class="input-box">
                                        <select class="selectmenu" id="schooldiabetes" name="schooldiabetes">
                                            <option value="" selected="selected">Тип сахарного диабета</option>
                                            <option value="Сахарный диабет I типа">Сахарный диабет I типа</option>
                                            <option value="Сахарный диабет II типа">Сахарный диабет II типа</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="single-box">    
                                    {{!-- <div class="input-box">  
                                        <select class="selectmenu" name="convenientTime" required>
                                            <option value="" selected="selected">Удобное время</option>
                                            <option value="Первая половина дня">Первая половина дня</option>
                                            <option value="Вторая половина дня">Вторая половина дня</option>
                                        </select>
                                    </div> --}}
                                     <input type="hidden" name="_csrf" value="{{csrf}}">
                                    <div class="input-box">
                                        <input type="text" name="date" placeholder="Выберите дату" id="pick" required>
                                        <div class="icon-box">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" name="question" value="" placeholder="Ваш вопрос к специалисту" required="">
                                    </div>       
                                </div>
                                <button class="thm-btn bgclr-1" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>    
                            </form>      
                        </div> 
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End call to action area-->

      <!--Start facilities Appointment area-->
    <section class="facilities-appointment-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="facilities-content-box">
                        <div class="sec-title">
                            <h1>НАШИ УСЛУГИ</h1>
                            <span class="border"></span>
                        </div>
                        <!--Start facilities carousel-->
                        <div class="facilities-carousel">
                            <div class="single-facilities-item">
                                <div class="row">
                                    <!--Start single item-->
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-phone"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Консультация</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-stethoscope"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Лечение эндокринологических заболеваний</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single item-->
                                </div>
                                <div class="row">
                                    <!--Start single item-->
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-technology-2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>УЗИ щитовидной железы</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-research"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Биопсия узлов щитовидной железы</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single item-->
                                </div>
                            </div>
                            <!-------End single facilities item------>
                            
                            <!------Start single facilities item------->
                            <div class="single-facilities-item">
                                <div class="row">
                                    <!--Start single item-->
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-triangle-inside-circle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Установка инсулиновой помпы</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="col-md-6">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-technology"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Установка системы непрерывного мониторинга глюкозы</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single item-->
                                </div>
                                <div class="row">
                                    <!--Start single item-->
                                    <div class="col-md-12">
                                        <div class="single-item">
                                            <div class="icon-holder">
                                                <div class="icon-box">
                                                    <div class="icon">
                                                        <span class="flaticon-smile"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-holder">
                                                <h3>Школа диабета</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End single item-->
                                </div>
                            </div>
                            <!-------End single facilities item------>
                        </div>
                        <!--End facilities carousel-->    
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <!--End facilities Appointment area-->
    

    <!--Start latest blog area-->  
    <section class="latest-blog-area">
        <div class="container">
            <div class="sec-title">
                <h1>ПОСЛЕДНИЕ СТАТЬИ</h1>
                <span class="border"></span>
            </div> 
            <div class="row">
                {{#if posts.length}}
                    {{#each posts}} 
                        <div class="col-md-6">     
                            <div class="posts">
                                <div class="img-holder">
                                    <img src="/{{img}}" id="post" class="resize"  alt="{{title}}">
                                    <div class="overlay-style-one">
                                        <div class="box">
                                            <div class="content">
                                                <a href="/posts/{{id}}"><span class="flaticon-plus-symbol"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-holder posts">
                                    <a href="/posts/{{id}}">
                                        <h3 class="blog-title">{{title}}</h3>
                                    </a>
                                    <ul class="meta-info">
                                        <li><a href="/posts/{{id}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{ date }}</a></li>
                                    </ul>
                                </div>    
                            </div> 
                        </div>
                    {{/each}}
                        {{else}}
                Статей пока нет
                {{/if}}
            </div> 
        </div>
    </section>
    <!--End latest blog area-->