<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>УСТАНОВКА ИНСУЛИНОВОЙ ПОМПЫ</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Установка инсулиновой помпы</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start faq content area-->
<section class="faq-content-area main-project-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="single-blog-item">
                        <div class="img-holder" width="40">
                            <img src="images/department/pompa.jpg" alt="Awesome Image" >
                        </div>
                        <div class="text-holder">
                            <h3 class="blog-title text-center"> Инсулиновая помпа или искусственная поджелудочная железа</h3>
                            <div class="text">
                                <p class="top">&nbsp;<b>Инсулиновая помпа </b> — это небольшое электронное устройство, которое вводит инсулин по заранее запрограммированным индивидуальным настройкам. Инсулиновая помпа рекомендована пациентам с 1 и 2 типом диабета, находящимся на инсулинотерапии.</p>
                                <p>&nbsp;Инсулиновая помпа позволяет имитировать работу поджелудочной железы у здорового человека. В отличие от метода многократных ежедневных инъекций, в помпе используется только один инсулин - короткого или ультракороткого действия. Постоянная подкожная инфузия инсулина (ППИИ) позволяет исключить необходимость выполнения частых инъекций — быстродействующий инсулин вводится в точных дозах в круглосуточном режиме, точно обеспечивая потребности организма.</p>
                                <p>&nbsp;Инсулиновую помпу можно отсоединить на время водных процедур или занятий активными видами спорта. Остальное время помпу можно носить на ремне брюк, в кармане, специальном чехле или на поясе.</p>
                                <p>&nbsp;Шкала складывается из суммы баллов при оценке 5 разных ультразвуковых характеристик. Соответственно, чем выше сумма баллов, тем выше риск малигнизации. </p>
                            </div>
                            <h4 class="blog-title">Помповая инсулинотерапия имеет множество преимуществ перед терапией с помощью многократных ежедневных инъекций, включая 4,5:</h4>
                            <ul>
                                <li>&#42; Лучший контроль уровня HbA1c;</li>
                                <li>&#42; Сокращение количества эпизодов гипогликемии;</li>
                                <li>&#42; Снижение вариабельности гликемии;</li>
                            </ul>
                            <div class="text">
                                <p>&nbsp; Помпа позволяет использовать индивидуальные настройки введения инсулина, адаптированные под образ жизни и потребности каждого пациента. Помповая инсулинотерапия обеспечивает лучший контроль над диабетом, а также дарит свободу и комфорт.</p>
                            </div>
                            <p><b>&nbsp; Мы установим инсулиновую помпу, научим пользоваться им, подберем дозировки базального и болюсного инсулина, а также научим вас в дальнейшем устанавливать данный аппарат самостоятельно!</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="row">
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item robustness workouts">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item food workouts yoga">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
            <!--Start single project item-->
            <div class="col-md-4 col-sm-4 col-xs-12 filter-item yoga food">
                <div class="single-project-item">
                    <div class="img-holder">
                        <img src="images/department/diabet3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="project-single.html"></a>
                                    <span class="border"></span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
            </div>
            <!--End single project item-->
        </div> --}}
    </div>
</section> 
<!--End faq content area-->