<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Статьи</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Статьи</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->     

 <section class="latest-blog-area">
        <div class="container">
            <div class="sec-title">
                <h1>ВСЕ СТАТЬИ</h1>
                <span class="border"></span>
            </div> 
            {{#eachRow posts 2}}
            <div class="row">
                {{#each columns}}                
                <div class="col-md-6">
                    <div class="posts">
                            <div class="img-holder">
                                <img src="/{{img}}" id="post" class="resize"  alt="{{title}}">
                                <div class="overlay-style-one">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/posts/{{id}}"><span class="flaticon-plus-symbol"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-holder posts">
                                <a href="/posts/{{id}}">
                                    <h3 class="blog-title">{{title}}</h3>
                                </a>
                                <ul class="meta-info">
                                    <li><a href="/posts/{{id}}"><i class="fa fa-calendar" aria-hidden="true"></i>{{ date }}</a></li>
                                </ul>
                            </div>    
                        </div>
                </div>
                {{/each}}
            </div>
            {{/eachRow}}
        </div>
</section>