<div class="container">
    <h1>Редактировать {{ post.title }}</h1>
    <hr>
    <form class="needs-validation" action="/admin/post/edit" method="post"  enctype="multipart/form-data">
        <div class="form-group col-auto">
            <label for="title">Название</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" required value="{{ post.title }}"> 
            <small id="titleHelp" class="form-text text-muted">Добавление название статьи.</small>
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <input type="text" name="description" class="form-control" id="description" class="validate" required value="{{ post.description }}">
        </div>
         <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="form-group form-check">
            <label for="img">Картинка</label>
             <input type="file" name="img" id="img">
        </div>
        <input type="hidden" name="id" value="{{post.id}}">
        <button type="submit" class="btn btn-primary">Редактировать</button>
    </form>
    <br>
    <form action="/admin/post/remove" method="POST">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="id" value="{{post.id}}">
      <button class="btn btn-danger">Удалить статью</button>
    </form>
    <br>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>