<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(/images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>{{ post.title }}</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/posts">Статьи</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">{{ post.title }}</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start blog Single area-->
<section id="blog-area" class="blog-single-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="/{{ post.img }}" alt="{{ post.title }}" style="width:100%;height:auto;">
                        </div>
                        <div class="text-holder">
                            <h3 class="blog-title">{{ post.title }}</h3>
                            <div class="text">
                                <p class="top">{{{ post.description }}}</p>
                            </div>
                            <!--End bottom content box-->
                            <ul class="meta-info">
                                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{ post.date }}</a></li>
                            </ul>
                        </div>    
                    </div>
                    <!--Start tag and social share box-->
                    <div class="tag-social-share-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="social-share clearfix">
                                    <h5>Поделиться<i class="fa fa-share-alt" aria-hidden="true"></i></h5>
                                    <ul class="social-share-links">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End tag and social share box-->
                </div>
            </div>
        </div>
    </div>
</section> 
<!--End blog Single area-->