<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>КЛИНИЧЕСКИЕ ПРОТОКОЛЫ И РУКОВОДСТВА</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Клинические протоколы и руководства</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start faq content area-->
<section class="faq-content-area">
    <div class="container">
        <div class="row">
            <!--Start single box-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="single-box">
                    <div class="sec-title mar0auto text-center">
                        <h1>ПРОТОКОЛЫ И РУКОВОДСТВА <br> Сахарный диабет 1 типа</h1>
                        <span class="border"></span>
                    </div>
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ДИАГНОСТИКА, ЛЕЧЕНИЕ И ВЕДЕНИЕ ПАЦИЕНТОВ С САХАРНЫМ ДИАБЕТОМ 1 ТИПА КЛИНИЧЕСКИЕ ПРОТОКОЛЫ ДЛЯ ВСЕХ УРОВНЕЙ ЗДРАВООХРАНЕНИЯ КЫРГЫЗСКОЙ РЕСПУБЛИКИ  Приказ МЗ КР № 748 от 8</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/2019/endokrinology/kp_SD1_diadnostika_i_vedenie.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ТАКТИКА ВЕДЕНИЯ САХАРНОГО ДИАБЕТА 1 ТИПА ПРИ СОПУТСТВУЮЩИХ ЗАБОЛЕВАНИЯХ КЛИНИЧЕСКИЕ ПРОТОКОЛЫ ДЛЯ ВСЕХ УРОВНЕЙ ЗДРАВООХРАНЕНИЯ КЫРГЫЗСКОЙ РЕСПУБЛИКИ Приказ МЗ КР № 748 от 8 июля 2019 г. (2019)</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/2019/endokrinology/kp_SD1_ostrye_oslojneniya.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ДИАГНОСТИКА, ЛЕЧЕНИЕ И ВЕДЕНИЕ ОСТРЫХ И ХРОНИЧЕСКИХ ОСЛОЖНЕНИЙ САХАРНОГО ДИАБЕТА 1 ТИПА КЛИНИЧЕСКОЕ РУКОВОДСТВО   Приказ МЗ КР № 748 от 8 июля 2019 г. (2019)</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/2019/endokrinology/kp_SD1_oslojneniya_ostrye_i_hranicheskiye.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box--> 

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ТАКТИКА ВЕДЕНИЯ ОСТРЫХ ОСЛОЖНЕНИЙ САХАРНОГО ДИАБЕТА 1 ТИПА У ДЕТЕЙ И ПОДРОСТКОВ КЛИНИЧЕСКИЕ ПРОТОКОЛЫ ДЛЯ ВСЕХ УРОВНЕЙ ЗДРАВООХРАНЕНИЯ КЫРГЫЗСКОЙ РЕСПУБЛИКИ Приказ МЗ КР № 748 от 8 июля 2019 г.  (2019)</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/2019/endokrinology/kp_SD1_ostrye_oslojneniya.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>САХАРНЫЙ ДИАБЕТ 1 ТИПА: ДИАГНОСТИКА, ЛЕЧЕНИЕ И ВЕДЕНИЕ ПАЦИЕНТОВ КЛИНИЧЕСКОЕ РУКОВОДСТВО Приказ МЗ КР № 748 от 8 июля 2019 г. (2019)</h4></div>
                            <div class="accord-content">
                                <ul>
                                   <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/2019/endokrinology/kp_SD1_tipa_diagnostika_i_vedeniye.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ТАКТИКА ВЕДЕНИЯ ПОЗДНИХ ОСЛОЖНЕНИЙ ПРИ САХАРНОМ ДИАБЕТЕ 1 ТИПА У ДЕТЕЙ И ПОДРОСТКОВ КЛИНИЧЕСКИЕ ПРОТОКОЛЫ ДЛЯ ВСЕХ УРОВНЕЙ ЗДРАВООХРАНЕНИЯ КЫРГЫЗСКОЙ РЕСПУБЛИКИ Приказ МЗ КР № 748 от 8 июля 2019 г. (2019)</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/2019/endokrinology/kp_SD1_pozdniye_oslojneniya.pdf"><span>СКАЧАТЬ</span></a></li>
                                 </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="single-box">
                    <div class="sec-title mar0auto text-center">
                        <h1>ПРОТОКОЛЫ И РУКОВОДСТВА <br> Сахарный диабет 2 типа</h1>
                        <span class="border"></span>
                    </div>
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Клиническое руководство «Диагностика и лечение сахарного диабета 2 типа на первичном уровне здравоохранения» руководство Приказ МЗ КР № 325 от 08.06.09</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/endokronologya/1_KR_saharny_diabet_2_tipa.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ДИАГНОСТИКА И ЛЕЧЕНИЕ САХАРНОГО ДИАБЕТА 2 ТИПА - КЛИНИЧЕСКИЙ ПРОТОКОЛ -ДЛЯ ВРАЧЕЙ ПЕРВИЧНОЙ МЕДИКО-САНИТАРНОЙ ПОМОЩИ (2017)</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/endokronologya/2017/KR_diagnostiki_i__lecheniya_SD2_tipa_2017.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>НЕОТЛОЖНЫЕ (ОСТРЫЕ)СОСТОЯНИЯ И ХРОНИЧЕСКИЕ ОСЛОЖНЕНИЯ САХАРНОГО ДИАБЕТА 2 ТИПА - КЛИНИЧЕСКИЙ ПРОТОКОЛ ДЛЯ ВРАЧЕЙ ПЕРВИЧНОЙ МЕДИКО-САНИТАРНОЙ ПОМОЩИ (2017)</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/endokronologya/2017/KP_ostrye_i_hronich_oslojneniya_SD2_tipa_2017.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box--> 

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ДИАГНОСТИКА, ПРОФИЛАКТИКА И ЛЕЧЕНИЕ САХАРНОГО ДИАБЕТА 2 ТИПА - КЛИНИЧЕСКИЙ ПРОТОКОЛ ДЛЯ ВРАЧЕЙ ПЕРВИЧНОЙ МЕДИКО-САНИТАРНОЙ ПОМОЩИ (2017)</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/endokronologya/2017/KP_dlya_pervichki_SD2_tipa_2017.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ОБУЧЕНИЕ И САМОКОНТРОЛЬ ПАЦИЕНТОВ С САХАРНЫМ ДИАБЕТОМ 2 ТИПА - КЛИНИЧЕСКИЙ ПРОТОКОЛ ДЛЯ ВРАЧЕЙ ПЕРВИЧНОЙ МЕДИКО-САНИТАРНОЙ ПОМОЩИ (2017)</h4></div>
                            <div class="accord-content">
                                <ul>
                                   <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/endokronologya/2017/KP_obuchenie_i_samokontrol_2017.pdf"><span>СКАЧАТЬ</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>ТАКТИКА ВЕДЕНИЯ ПОЗДНИХ ОСЛОЖНЕНИЙ ПРИ САХАРНОМ ДИАБЕТЕ 1 ТИПА У ДЕТЕЙ И ПОДРОСТКОВ КЛИНИЧЕСКИЕ ПРОТОКОЛЫ ДЛЯ ВСЕХ УРОВНЕЙ ЗДРАВООХРАНЕНИЯ КЫРГЫЗСКОЙ РЕСПУБЛИКИ Приказ МЗ КР № 748 от 8 июля 2019 г. (2019)</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li><a class="btn btn-primary btn-lg" download="file.pdf" href="http://med.kg/images/MyFiles/KP/2019/endokrinology/kp_SD1_pozdniye_oslojneniya.pdf"><span>СКАЧАТЬ</span></a></li>
                                 </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!--End faq content area-->