<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>Услуги</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Услуги</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Medical Departments area-->
<section class="medical-departments-area departments-page">
    <div class="container">
        <div class="row">
            <!--Start single item-->
            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="iocn-holder">
                        <span class="flaticon-phone"></span>    
                    </div>
                    <div class="text-holder">
                        <h3>Консультация</h3>
                        
                    </div>
                    <a class="readmore" href="/consultation">Подробнее</a>
                </div>
            </div> 
            <!--End single item--> 
            <!--Start single item-->
            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="iocn-holder">
                        <span class="flaticon-stethoscope"></span>    
                    </div>
                    <div class="text-holder">
                        <h3>Лечение эндокринологических нарушений и заболеваний</h3>
                        
                    </div>
                    <a class="readmore" href="/treatment">Подробнее</a>
                </div>
            </div> 
            <!--End single item-->
        </div>
        
         <div class="row">
            <!--Start single item-->
            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="iocn-holder">
                        <span class="flaticon-technology-2"></span>    
                    </div>
                    <div class="text-holder">
                        <h3>УЗИ щитовидной железы</h3>
                        
                    </div>
                    <a class="readmore" href="/thyroidultrasound">Подробнее</a>
                </div>
            </div> 
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="iocn-holder">
                        <span class="flaticon-research"></span>    
                    </div>
                    <div class="text-holder">
                        <h3>Биопсия узлов щитовидной железы</h3>
                    </div>
                    <a class="readmore" href="/biopsy">Подробнее</a>
                </div>
            </div> 
            <!--End single item--> 
        </div>


        <div class="row">
            <!--Start single item-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="iocn-holder">
                        <span class="flaticon-smile"></span>    
                    </div>
                    <div class="text-holder">
                        <h3>Школа диабета </h3>
                    </div>
                    <a class="readmore" href="/schooldiabetes">Подробнее</a>
                </div>
            </div> 
            <!--End single item--> 
            <!--Start single item-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="iocn-holder">
                        <span class="flaticon-triangle-inside-circle"></span>    
                    </div>
                    <div class="text-holder">
                        <h3>Установка инсулиновой помпы </h3>
                    </div>
                    <a class="readmore" href="/pompa">Подробнее</a>
                </div>
            </div> 
            <!--End single item-->
            <!--Start single item-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-item text-center">
                    <div class="iocn-holder">
                        <span class="flaticon-technology"></span>    
                    </div>
                    <div class="text-holder">
                        <h3>Установка аппаратов  непрерывного мониторинга глюкозы крови</h3>
                        
                    </div>
                    <a class="readmore" href="/monitoring">Подробнее</a>
                </div>
            </div> 
        </div>
    </div>
</section>
<!--End Medical Departments area--> 