<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(images/resources/breadcrumb-bg.jpg);">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="breadcrumbs">
	                <h1>ЛЕЧЕНИЕ ЭНДОКРИНОЛОГИЧЕСКИХ НАРУШЕНИЙ И ЗАБОЛЕВАНИЙ</h1>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="breadcrumb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="left pull-left">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a href="/services">Услуги</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Лечение эндокринологических нарушений и заболеваний</li>
                        </ul>
                    </div>
                    <div class="right pull-right">
                        <a href="#">
                            <span><i class="fa fa-share-alt" aria-hidden="true"></i>Поделиться</span> 
                        </a>   
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start faq content area-->
<section class="faq-content-area">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-post">
                    <div class="single-blog-item">
                        <div class="img-holder">
                            <img src="images/department/treatment.jpg" alt="Awesome Image" width="50%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="img-box">
                    <h4>Правильная работа эндокринной системы крайне важна для нормальной жизнедеятельности человеческого организма.</h4>
                    <p>
                        Из эндокринных заболеваний чаще встречаются патологии, связанные с расстройством щитовидной железы(например гипотиреоз),с расстройствами поджелудочной железы, такие как сахарный диабет.
                        <br>Изучением и лечением этих заболеваний занимаемся мы- врачи эндокринологи.
                    </p>
                    <br>
                </div>    
            </div>
        </div>
        <div class="row">
            <!--Start single box-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="single-box">
                    <div class="sec-title mar0auto text-center">
                        <h1>Мы проводим лечение следующих эндокринных расстройств и заболеваний:</h1>
                        <span class="border"></span>
                    </div>
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Заболевания гипоталамо-гипофизарной системы:</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li>Акромегалия</li>
                                    <li>Болезнь Иценко-Кушинга</li>
                                    <li>Пролактинома</li>
                                    <li>Гиперпролактинемия</li>
                                    <li>Несахарный диабет</li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Заболевания щитовидной железы:</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li>Гипертиреоз</li>
                                    <li>Гипотиреоз</li>
                                    <li>Диффузный токсический зоб</li>
                                    <li>Аутоиммунный тиреоидит</li>
                                    <li>Подострый тиреоидит</li>
                                    <li>Эндемический зоб</li>
                                    <li>Узловой зоб</li>
                                    <li>Рак щитовидной железы</li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Заболевания женских половых желёз:</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li>Нарушение менструальной функции</li>
                                    <li>Предменструальный синдром</li>
                                    <li>Синдром поликистозных яичников</li>
                                    <li>Преждевременное истощения яичников</li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box--> 

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Заболевания, обусловленные нарушением углеводного обмена:</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li>Сахарный диабет типа 1</li>
                                    <li>Сахарный диабет типа 2</li>
                                    <li>Гестационный сахарный диабет</li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Заболевания, обусловленные нарушением липидного обмена :</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li>Лишний вес</li>
                                    <li>Ожирение</li>
                                    <li>Гиперхолестеринемия</li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Заболевания паращитовидной железы:</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li>Гиперпаратиреоз</li>
                                    <li>Гипопаратиреоз</li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->

                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Заболевания надпочечников:</h4></div>
                            <div class="accord-content">
                                <ul>
                                    <li>Гормонально-активные опухоли надпочечников</li>
                                    <li>Хроническая надпочечниковая недостаточность</li>
                                    <li>Первичный гиперальдостеронизм</li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!--End faq content area-->